@model Serler.Models.PaperViewModel
@{
    var db = Database.Open("Serler");
    var selectQueryString = "SELECT * FROM Paper ORDER BY PaperTitle";
}
<h2>Example Category</h2>
@foreach (var row in db.Query(selectQueryString))
{
    <div class="form-group">
        <div class="row">
            <div class="col-md-2">
                <a href="@Url.Action("EditPaper", "Paper", new { id = row.PaperId })"><span class="label label-danger">@row.PaperTitle</span></a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label>Research category</label>
            </div>
            <div class="col-md-10">
                @row.Category
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label>Year of publication</label>
            </div>
            <div class="col-md-10">
                @row.Date
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label>Author</label>
            </div>
            <div class="col-md-10">
                @row.Author
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label>Methodology</label>
            </div>
            <div class="col-md-10">
                @row.Methodology
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label>Practice</label>
            </div>
            <div class="col-md-10">
                @row.Practice
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2">
                <label>JournalName</label>
            </div>
            <div class="col-md-10">
                @row.JournalName
            </div>
        </div>
    </div>
}
