@model Serler.Models.PaperViewModel

@{
    ViewBag.Title = "Paper's Details";
}

    <h2>Change details</h2>
    <br />
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.PaperId)
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Paper Title</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PaperTitle, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.PaperTitle)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Research category</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Category, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.Category)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Year of publication</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Date, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.Date)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Author</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Author, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.Author)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Publisher</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Publisher, new { @class = "form-control", type = "text" })
                </div>
            </div>
            <br />
            <div class="row">
                @Html.LabelFor(m => m.Methodology, "Methodology", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Methodology, new List<SelectListItem> {
                       new SelectListItem { Value = "Scrum" , Text = "Scrum (Description)" },
                       new SelectListItem { Value = "Waterfall" , Text = "Waterfall (Description)" },
                       new SelectListItem { Value = "Kanban" , Text = "Kanban (Description)" }
                    }, new { @class = "form-control", type = "text" })
                </div>
            </div>
            <br />
            <div class="row">
                @Html.LabelFor(m => m.Practice, "Practice", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Practice, new List<SelectListItem> {
                       new SelectListItem { Value = "First" , Text = "First (Description)" },
                       new SelectListItem { Value = "Second" , Text = "Second (Description)" },
                       new SelectListItem { Value = "Third" , Text = "Third (Description)" }
                    }, new { @class = "form-control", type = "text" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Outcome Being Tested</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.OutcomeBeingTested, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.OutcomeBeingTested)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Context of Study (who)</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ContextWho, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.ContextWho)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Context of Study (what)</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ContextWhat, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.ContextWhat)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Context of Study (where)</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ContextWhere, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.ContextWhere)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Result of Study</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.StudyResult, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.StudyResult)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Implementation of Integrity</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ImplementationIntegrity, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.ImplementationIntegrity)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Confidence Rating</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ConfidenceRating, new { @class = "form-control", type = "number", min = "1", max = "5" })
                    @Html.ValidationMessageFor(m => m.ConfidenceRating)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Confidence Rating Reason</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ConfidenceRatingReason, new { @class = "form-control", type = "text"})
                    @Html.ValidationMessageFor(m => m.ConfidenceRatingReason)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Who Rated</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.WhoRated, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.WhoRated)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Research Question</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ResearchQuestion, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.ResearchQuestion)
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(m => m.ResearchMethod, "Research Method", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Practice, new List<SelectListItem> {
                       new SelectListItem { Value = "Survey" , Text = "Survey" },
                       new SelectListItem { Value = "CaseStudy" , Text = "Case Study" },
                       new SelectListItem { Value = "Experiment" , Text = "Experiment" }
                    }, new { @class = "form-control", type = "text" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>ResearchMetrics</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.ResearchMetrics, new { @class = "form-control", type = "number", min = "1", max = "5" })
                    @Html.ValidationMessageFor(m => m.ResearchMetrics)
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(m => m.ResearchLevel, "Research Level", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.ResearchLevel, new List<SelectListItem> {
                       new SelectListItem { Value = "First" , Text = "1" },
                       new SelectListItem { Value = "Second" , Text = "2" },
                       new SelectListItem { Value = "Third" , Text = "3" }
                    }, new { @class = "form-control", type = "text" })
                </div>
            </div>
            <br />
            <div class="row">
                @Html.LabelFor(m => m.ParticipantsNature, "Nature of Participants", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Practice, new List<SelectListItem> {
                       new SelectListItem { Value = "Academics" , Text = "Academics" },
                       new SelectListItem { Value = "Researchers" , Text = "Researchers" },
                       new SelectListItem { Value = "General" , Text = "General" }
                    }, new { @class = "form-control", type = "text" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Journal Name</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.JournalName, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.JournalName)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-offset-2">
                <button type="submit" name="submit" class="btn btn-default" id="submit" value="Change">Change details</button>
            </div>
        </div>
    <br />
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <button type="submit" name="submit" class="btn btn-default" id="submit" value="Reject">Remove paper from public viewing</button>
        </div>
    </div>
    }