@model Serler.Models.PaperViewModel

@{
    ViewBag.Title = "ModeratePaper";
}

    <h2>Details of Paper:</h2>
    <br />
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.PaperId)
        <div class="row form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Paper Title</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.PaperTitle)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Author</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Author)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Research category</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Category)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Year of publication</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Date)
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-md-2">
                    <label>Journal Name</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.JournalName)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Methodology</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Methodology)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Practice</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Practice)
                </div>
            </div>
            <br />
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <button type="submit" name= "submit" class="btn btn-default" id = "submit" value = "Accept">Accept</button>
                    </div>
                </div>
            <br />
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit" name="submit" class="btn btn-default" id="submit" value="Reject">Reject</button>
                </div>
            </div>
            </div>
    }
