@model Serler.Models.PaperViewModel

@{
    ViewBag.Title = "SubmitPaper";
}

    <h2>Submit Paper</h2>
    <h3>Please enter paper's details:</h3>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.PaperId)
        <div class="row form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Paper Title</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PaperTitle, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.PaperTitle)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label>Research category</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Category, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.Category)
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(m => m.Methodology, "Methodology", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Methodology, new List<SelectListItem> { 
                       new SelectListItem { Value = "Scrum" , Text = "Scrum" },
                       new SelectListItem { Value = "Waterfall" , Text = "Waterfall" },
                       new SelectListItem { Value = "Kanban" , Text = "Kanban" }
                    }, new { @class = "form-control", type = "text" })                  
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Description of methodology</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.MethodologyDescription, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.MethodologyDescription)
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(m => m.Practice, "Practice", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Practice, new List<SelectListItem> {
                       new SelectListItem { Value = "First" , Text = "First" },
                       new SelectListItem { Value = "Second" , Text = "Second" },
                       new SelectListItem { Value = "Third" , Text = "Third" }
                    }, new { @class = "form-control", type = "text" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Description of Practice</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PracticeDescription, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.PracticeDescription)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Year of publication</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Date, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.Date)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Author</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Author, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.Author)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Link to paper</label>
                </div>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.PaperLink, new { @class = "form-control", type = "text" })
                    @Html.ValidationMessageFor(m => m.PaperLink)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </div>
    }