@model Serler.Models.PaperViewModel

@{
    ViewBag.Title = "Paper's Details";
}

    <h2>Paper's details</h2>
    <br />
    @using (Html.BeginForm())
    {

        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Paper Title</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.PaperTitle)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Author</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Author)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Journal Name</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.JournalName)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Year of publication</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Date)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Research category</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Category)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Publisher</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Publisher)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Methodology</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Methodology)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Practice</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Practice)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Outcome being tested</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.OutcomeBeingTested)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Study Context (who)</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ContextWho)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Study Context (what)</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ContextWhat)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Study Context (where)</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ContextWhere)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Result of Study</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.StudyResult)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Integrity of implementation</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ImplementationIntegrity)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Confidence Rating</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ConfidenceRating)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Confidence Rating Reason</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ConfidenceRatingReason)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Who rated</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.WhoRated)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Research Question</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ResearchQuestion)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Research Method</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ResearchMethod)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Research Metrics</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ResearchMetrics)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Research Level</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ResearchLevel)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Nature of Participants</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ParticipantsNature)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Rating</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Rating)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Number Of people rated</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.NoOfPeopleRated)
                </div>
            </div>
           </div>
    <div class="row">
        <div class="col-sm-10 col-md-offset-2">
            <button type="submit" name="submit" class="btn btn-default" id="submit" value="Save">Save as PDF</button>
        </div>
    </div>
    }