@model Serler.Models.PaperViewModel

@{
    ViewBag.Title = "Paper's Details";
}

    <h2>Paper's details</h2>
    <br />
    @using (Html.BeginForm())
    {

        <div class="row form-group">
            <div class="row">
                <div class="col-md-2">
                    <label>Paper Title</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.PaperTitle)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Research category</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Category)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Year of publication</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Date)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Author</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Author)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Publisher</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Publisher)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Abstract</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Abstract)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Reference</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Reference)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Rating</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Rating)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Methodology</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Methodology)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Description of Methodology</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.MethodologyDescription)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Practice</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Practice)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Description of Practice</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.PracticeDescription)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Outcome being tested</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.OutcomeBeingTested)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Study Context</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.StudyContext)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Result of Study</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.StudyResult)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Integrity of implementation</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ImplementationIntegrity)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Confidence Rating</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ConfidenceRating)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Who rated</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.WhoRated)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Research Question</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ResearchQuestion)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Research Method</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ResearchMethod)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Research Metrics</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ResearchMetrics)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Research Metrics</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ResearchMetrics)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Nature of Participants</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.ParticipantsNature)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Number Of people rated</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.NoOfPeopleRated)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label>Paper Link</label>
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.PaperLink)
                </div>
            </div>
        </div>        
    }